In [7]:
import tensorflow as tf
from tensorflow import keras

import os
from os import path

import tempfile
import time

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
pd.options.mode.chained_assignment = None

import seaborn as sns

import sklearn

from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Set DataFrame name:

In [57]:
pca_prec = 95

df_name = f"{pca_prec}"
print(f"Name: {df_name}")

data_path = f"../../RoboDocData/"

df_path = f"{data_path}/{df_name}"

if path.exists(df_path) == False:
    os.makedirs(df_path)

Name: 95

In [11]:
mpl.rcParams['figure.figsize'] = (12, 10)
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [13]:
        file = tf.keras.utils
raw_df = pd.read_csv("../db/admissions.csv")
raw_df.head()

,patient_id,hadm_id,icustay_id,hospstay_seq,total_hospstays,length_of_stay_hospital,icustay_seq,number_of_icu_stays,length_of_stay_icu,total_length_of_stay_icu,...,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max,symptoms,patient_history,diagnoses
0,9973,100020,282580,5,8,10.61,1,1.0,1.10,1.101088,...,NaN,126.0,131.0,11.0,16.0,5.6,5.6,NaN,V1302,5990;34409;2761;5601;5849;0417;4280;59654;340;...
1,77221,100024,201668,1,1,6.33,1,1.0,1.08,1.079884,...,14.5,135.0,140.0,18.0,18.0,10.4,12.3,NaN,V4960,41401;4111;99662;5119;5180;4019;42731;45182;27401
2,9889,100068,204988,5,5,15.08,1,1.0,4.50,4.500347,...,19.0,128.0,132.0,39.0,43.0,15.0,15.1,78906,V1254;V4511;V4579;V8801;V5861,41401;5856;4111;40391;9971;4260;4592;5121;4107...
3,26885,100074,270174,1,1,2.73,1,1.0,2.79,2.787488,...,24.4,122.0,132.0,45.0,64.0,18.9,19.6,78552;79989,NaN,0389;51881;55220;5570;99592;07054;5715
4,14245,100102,236711,2,6,2.79,1,1.0,0.99,0.992882,...,13.7,134.0,136.0,27.0,29.0,9.5,11.5,7847,V4582;V4502,41401;42822;41402;4280;30029;30981;42731;40390...

## Clean null values:

In [14]:
raw_df.describe()

,patient_id,hadm_id,icustay_id,hospstay_seq,total_hospstays,length_of_stay_hospital,icustay_seq,number_of_icu_stays,length_of_stay_icu,total_length_of_stay_icu,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
count,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.0,48916.000000,49276.000000,48916.000000,...,43675.000000,43675.000000,43673.000000,43673.000000,48931.000000,48931.000000,48903.000000,48903.000000,48646.000000,48646.000000
mean,36830.670387,149981.859830,250083.991152,1.475627,1.951356,10.001152,1.0,1.073902,4.066593,5.389209,...,1.358426,1.647879,14.815815,16.837765,136.572357,140.137473,23.590986,28.013087,10.420413,13.649568
std,29043.766195,28915.694377,28907.221643,1.617056,2.672499,10.824429,0.0,0.305319,5.985749,11.561777,...,0.648030,1.398121,5.034032,9.430014,4.967009,4.581295,19.664591,22.627591,8.032359,11.289151
min,3.000000,100001.000000,200001.000000,1.000000,1.000000,0.000000,1.0,1.000000,0.000000,0.000347,...,0.500000,0.500000,2.390000,8.000000,1.210000,97.000000,1.000000,1.000000,0.100000,0.100000
25%,13300.500000,124911.750000,225039.750000,1.000000,1.000000,4.040000,1.0,1.000000,1.200000,1.253953,...,1.100000,1.100000,12.700000,13.200000,134.000000,138.000000,12.000000,14.000000,6.800000,8.800000
50%,26709.500000,150055.500000,250130.500000,1.000000,1.000000,6.920000,1.0,1.000000,2.120000,2.251157,...,1.200000,1.300000,13.600000,14.400000,137.000000,140.000000,17.000000,20.000000,9.300000,12.100000
75%,60230.250000,175055.500000,275154.750000,1.000000,2.000000,11.950000,1.0,1.000000,4.110000,4.911823,...,1.400000,1.600000,15.000000,16.700000,139.000000,142.000000,28.000000,33.000000,12.600000,16.400000
max,99999.000000,199999.000000,299999.000000,41.000000,41.000000,294.660000,1.0,7.000000,153.930000,568.103333,...,26.700000,48.800000,150.000000,150.000000,178.000000,182.000000,254.000000,272.000000,575.800000,846.700000

In [44]:
def get_sparse_columns(limit):  
    print(f"Under {limit * 100}% filled:")  
    sparse_columns = []

    for c in raw_df.columns:
        rate = (sum(raw_df[c] == raw_df[c]) / len(raw_df))

    if rate < limit:
        print(f"\t{c}: {rate:.2f}")
        sparse_columns.append(c)

    return sparse_columns

def fill_nan_with_mean(df, column):
    df[column].fillna(df[column].mean(), inplace=True)

    return df

def clean_df(raw_df, limit: float):
    # copy dataframe
    df = raw_df.copy()

    # pop standard columns
    df.pop('patient_id')
    df.pop('hadm_id')
    df.pop('icustay_id')
    df.pop('hospstay_seq')
    df.pop('icustay_seq')
    df.pop('total_hospstays')
    df.pop('number_of_icu_stays')
    df.pop('total_length_of_stay_icu')


    # pop sparse columns
    sparse_columns = get_sparse_columns(limit)

    for c in sparse_columns:
        df.pop(c)

    # pop sparse rows
    df.dropna(thresh=12, inplace=True) 

    # clean data
    df.age[raw_df.age > 90] = 90
    df.gender[raw_df.gender == 'M'] = 1
    df.gender[raw_df.gender == 'F'] = 0
    df.weight[raw_df.weight > 300] = 300
    df.glucose_max[raw_df.glucose_max > 1000] = 1000
    df.glucose_mean[raw_df.glucose_mean > 1000] = 1000
    df.died_in_hospital[raw_df.died_in_hospital == 't'] = 1
    df.died_in_hospital[raw_df.died_in_hospital == 'f'] = 0

    # fill nan values
    dont_fill = ["symptoms", "patient_history", "diagnoses", "length_of_stay", "died_in_hospital", "length_of_stay_hospital", "length_of_stay_icu", "days_to_death"]

    for c in df.columns:
    if not c in dont_fill:
        print(f"filled nan in: {c}")
        df = fill_nan_with_mean(df, c)

    # extract diseases
    symptoms_raw = df.symptoms
    df.pop('symptoms')
    diagnoses_raw = df.diagnoses
    df.pop('diagnoses')
    patient_history_raw = df.patient_history
    df.pop('patient_history')

    return df, symptoms_raw, diagnoses_raw, patient_history_raw

IndentationError: expected an indented block (<ipython-input-44-c61bd17a1444>, line 57)

In [45]:
df, symptoms_raw, diagnoses_raw, patient_history_raw = clean_df(raw_df, 0.2)

Under 20.0% filled:
	bands_min: 0.12
	bands_max: 0.12
filled nan in: age
filled nan in: gender
filled nan in: weight
filled nan in: height
filled nan in: heartrate_mean
filled nan in: heartrate_min
filled nan in: heartrate_max
filled nan in: meanbp_mean
filled nan in: meanbp_min
filled nan in: meanbp_max
filled nan in: resprate_mean
filled nan in: resprate_min
filled nan in: resprate_max
filled nan in: tempc_mean
filled nan in: tempc_min
filled nan in: tempc_max
filled nan in: spo2_mean
filled nan in: spo2_min
filled nan in: spo2_max
filled nan in: glucose_mean
filled nan in: glucose_min
filled nan in: glucose_max
filled nan in: received_dialysis
filled nan in: received_ventilation
filled nan in: urineoutput
filled nan in: mingcs
filled nan in: gcsmotor
filled nan in: gcsverbal
filled nan in: gcseyes
filled nan in: aniongap_min
filled nan in: aniongap_max
filled nan in: albumin_min
filled nan in: albumin_max
filled nan in: bicarbonate_min
filled nan in: bicarbonate_max
filled nan in: bilirubin_min
filled nan in: bilirubin_max
filled nan in: creatinine_min
filled nan in: creatinine_max
filled nan in: chloride_min
filled nan in: chloride_max
filled nan in: hematocrit_min
filled nan in: hematocrit_max
filled nan in: hemoglobin_min
filled nan in: hemoglobin_max
filled nan in: lactate_min
filled nan in: lactate_max
filled nan in: platelet_min
filled nan in: platelet_max
filled nan in: potassium_min
filled nan in: potassium_max
filled nan in: ptt_min
filled nan in: ptt_max
filled nan in: inr_min
filled nan in: inr_max
filled nan in: pt_min
filled nan in: pt_max
filled nan in: sodium_min
filled nan in: sodium_max
filled nan in: bun_min
filled nan in: bun_max
filled nan in: wbc_min
filled nan in: wbc_max

In [46]:
df.head()

,length_of_stay_hospital,length_of_stay_icu,days_to_death,died_in_hospital,age,gender,weight,height,heartrate_mean,heartrate_min,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
0,10.61,1.10,95.0,0,58,1,96.0,175.000000,62.0,49.0,...,1.358426,1.647879,14.815815,16.837765,126.0,131.0,11.0,16.0,5.6,5.6
1,6.33,1.08,NaN,0,71,1,91.0,175.000000,78.0,67.0,...,1.100000,1.300000,13.300000,14.500000,135.0,140.0,18.0,18.0,10.4,12.3
2,15.08,4.50,23.0,0,74,0,63.0,160.000000,87.0,76.0,...,1.300000,1.800000,14.800000,19.000000,128.0,132.0,39.0,43.0,15.0,15.1
3,2.73,2.79,2.0,1,55,0,78.0,163.000000,103.0,90.0,...,1.600000,2.400000,18.000000,24.400000,122.0,132.0,45.0,64.0,18.9,19.6
4,2.79,0.99,489.0,0,78,1,118.0,169.903916,66.0,52.0,...,1.200000,1.200000,13.700000,13.700000,134.0,136.0,27.0,29.0,9.5,11.5

In [47]:
df.describe()

,length_of_stay_hospital,length_of_stay_icu,days_to_death,age,gender,weight,height,heartrate_mean,heartrate_min,heartrate_max,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
count,49249.000000,49249.000000,21255.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,...,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000
mean,9.998268,4.065270,516.879652,63.450060,0.562082,80.647938,169.903916,85.246973,70.935350,103.299760,...,1.358426,1.647879,14.815815,16.837765,136.572357,140.137473,23.590986,28.013087,10.420413,13.649568
std,10.812642,5.977661,750.221614,17.338977,0.496136,21.650088,8.800086,15.561089,14.974289,20.618311,...,0.610257,1.316624,4.740490,8.880135,4.950947,4.566480,19.595391,22.547964,7.983033,11.219825
min,0.000000,0.000000,0.000000,14.000000,0.000000,1.000000,107.000000,30.000000,0.350000,30.000000,...,0.500000,0.500000,2.390000,8.000000,1.210000,97.000000,1.000000,1.000000,0.100000,0.100000
25%,4.040000,1.200000,18.000000,52.000000,0.000000,67.000000,169.903916,74.000000,61.000000,89.000000,...,1.100000,1.200000,12.800000,13.300000,134.000000,138.000000,12.000000,14.000000,6.800000,8.800000
50%,6.920000,2.120000,149.000000,65.000000,1.000000,80.647938,169.903916,84.000000,70.000000,101.000000,...,1.200000,1.400000,13.900000,14.800000,137.000000,140.000000,17.000000,21.000000,9.400000,12.200000
75%,11.940000,4.110000,723.500000,77.000000,1.000000,89.000000,169.903916,95.000000,80.000000,116.000000,...,1.358426,1.647879,14.815815,16.837765,139.000000,142.000000,28.000000,33.000000,12.500000,16.300000
max,294.660000,153.930000,4166.000000,90.000000,1.000000,300.000000,485.000000,164.000000,141.000000,280.000000,...,26.700000,48.800000,150.000000,150.000000,178.000000,182.000000,254.000000,272.000000,575.800000,846.700000

## Examine the class label imbalance:

In [48]:
neg, pos = np.bincount(df['died_in_hospital'])
total = neg + pos
print(f'Examples:\n    Total: {total}\n    Positive: {pos} ({100 * pos / total:.2f}% of total)\n')

Examples:
    Total: 49249
    Positive: 5668 (11.51% of total)

## Convert diagnoses:

In [49]:
def load_diseases_data():
    symptoms = []
    history = []
    diagnoses = []

    with open('../db/symptoms_dict.csv', 'r') as f:
        for line in f:
            split = line.strip("\n").split(",")
            symptoms.append([split[0], split[1], split[2]])
            
    with open('../db/patient_history_dict.csv', 'r') as f:
        for line in f:
            split = line.strip("\n").split(",")
            history.append([split[0], split[1], split[2]])

    with open('../db/diagnoses_dict.csv', 'r') as f:
        for line in f:
            split = line.strip("\n").split(",")
            diagnoses.append([split[0], split[1], split[2]])
            
    return np.asarray(symptoms[1:]), np.asarray(history[1:]), np.asarray(diagnoses[1:])


def diseases_to_matrix(symptoms, patient_history, diagnoses, symptoms_dict, patient_history_dict, diagnoses_dict):
    Xs = np.zeros((len(diagnoses), len(symptoms_dict)))
    
    for i, ss in enumerate(symptoms):
        lst = str(ss).split(';')

        for s in lst:
            Xs[i][symptoms_dict == s] = 1

            
    Xph = np.zeros((len(diagnoses), len(patient_history_dict)))
    
    for i, phs in enumerate(patient_history):
        lst = str(phs).split(';')

        for ph in lst:
            Xph[i][patient_history_dict == ph] = 1


    Xd = np.zeros((len(diagnoses), len(diagnoses_dict)))
    
    for i, ds in enumerate(diagnoses):
        lst = str(ds).split(';')

        for d in lst:
            Xd[i][diagnoses_dict == d] = 1

    X = np.concatenate((Xs, Xph), axis=1)
    X = np.concatenate((X, Xd), axis=1)

    return X, Xs, Xph, Xd

In [50]:
print("admissions with symptoms: ", len(symptoms_raw[symptoms_raw == symptoms_raw]) / len(symptoms_raw))

admissions with symptoms:  0.5346707547361368

In [51]:
print("admissions with patient_history: ", len(patient_history_raw[patient_history_raw == patient_history_raw]) / len(patient_history_raw))

admissions with patient_history:  0.5196856788970334

In [52]:
print("admissions with diagnoses: ", len(diagnoses_raw[diagnoses_raw == diagnoses_raw]) / len(diagnoses_raw))

admissions with diagnoses:  0.9990456659018457

In [54]:
symptoms_dict, patient_history_dict, diagnoses_dict  = load_diseases_data()

print(f"symptoms: {len(symptoms_dict)}, patient_history: {len(patient_history_dict)}, diagnoses: {len(diagnoses_dict)}")

t_start = time.time()
disease_matrix, Xs, Xph, Xd = diseases_to_matrix(symptoms_raw, patient_history_raw, diagnoses_raw, symptoms_dict[:,0], patient_history_dict[:,0], diagnoses_dict[:,0])
t_end = time.time()

shape = disease_matrix.shape
ones = sum(sum(disease_matrix))

print(f"Time elapsed: {(t_end - t_start) / 60:.2f} minutes")
print(f"disease_matrix shape: {shape}")
print(f"percentage of ones: {(100 * ones / (shape[0] * shape[1])):.2f}%")

symptoms: 1141, patient_history: 470, diagnoses: 4730
Time elapsed: 0.39 minutes
disease_matrix shape: (49249, 6341)
percentage of ones: 0.18%

In [60]:
if True:
    with open(f"{data_path}/disease_matrix_raw.npy", 'wb') as f:
        np.save(f, disease_matrix)

    with open(f"{data_path}/symptoms_dict.npy", 'wb') as f:
        np.save(f, symptoms_dict)

    with open(f"{data_path}/patient_history_dict.npy", 'wb') as f:
        np.save(f, patient_history_dict)

    with open(f"{data_path}/diagnoses_dict.npy", 'wb') as f:
        np.save(f, diagnoses_dict)

### Reduce dimensionality of diagnoses with PCA:

In [61]:
from sklearn.decomposition import PCA
import pickle as pk

In [63]:
pca = PCA(n_components=(1/100) * pca_prec)

t_start = time.time()
M = pca.fit_transform(disease_matrix)
t_end = time.time()

with open(f"{df_path}/disease_matrix_{df_name}.npy", 'wb') as f:
    np.save(f, M)

pk.dump(pca, open(f"{df_path}/pca_{df_name}.pkl", 'wb')) 
# pca_reload = pk.load(open("pca.pkl",'rb')) 

print(f"Time elapsed: {(t_end - t_start) / 60:.2f} minutes")
print(M.shape)

Time elapsed: 6.13 minutes
(49249, 1438)

In [64]:
print(pca.explained_variance_ratio_)

[3.25338962e-02 3.07565094e-02 2.08228775e-02 ... 5.55505791e-05
 5.53872449e-05 5.53584162e-05]

In [67]:
with open(f"{df_path}/disease_matrix_{df_name}.npy", 'rb') as f:
    M = np.load(f)
print(M.shape)

(49249, 1438)

### Join DataFrame and diagnose matrix:

In [70]:
df_diagnoses = pd.DataFrame(M)
df = df.reset_index(drop=True)
full_df = df.join(df_diagnoses)

print(df.shape)
print(full_df.shape)
print(df.columns)

(49249, 67)
(49249, 1505)
Index(['length_of_stay_hospital', 'length_of_stay_icu', 'days_to_death',
       'died_in_hospital', 'age', 'gender', 'weight', 'height',
       'heartrate_mean', 'heartrate_min', 'heartrate_max', 'meanbp_mean',
       'meanbp_min', 'meanbp_max', 'resprate_mean', 'resprate_min',
       'resprate_max', 'tempc_mean', 'tempc_min', 'tempc_max', 'spo2_mean',
       'spo2_min', 'spo2_max', 'glucose_mean', 'glucose_min', 'glucose_max',
       'received_dialysis', 'received_ventilation', 'urineoutput', 'mingcs',
       'gcsmotor', 'gcsverbal', 'gcseyes', 'aniongap_min', 'aniongap_max',
       'albumin_min', 'albumin_max', 'bicarbonate_min', 'bicarbonate_max',
       'bilirubin_min', 'bilirubin_max', 'creatinine_min', 'creatinine_max',
       'chloride_min', 'chloride_max', 'hematocrit_min', 'hematocrit_max',
       'hemoglobin_min', 'hemoglobin_max', 'lactate_min', 'lactate_max',
       'platelet_min', 'platelet_max', 'potassium_min', 'potassium_max',
       'ptt_min', 'ptt_max', 'inr_min', 'inr_max', 'pt_min', 'pt_max',
       'sodium_min', 'sodium_max', 'bun_min', 'bun_max', 'wbc_min', 'wbc_max'],
      dtype='object')

## Normalize data:

In [71]:
from sklearn import preprocessing

length_of_stay_hospital = full_df.pop("length_of_stay_hospital")
length_of_stay_icu = full_df.pop("length_of_stay_icu")
days_to_death = full_df.pop("days_to_death")
died_in_hospital = full_df.pop("died_in_hospital")

X = full_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)
normed_df = pd.DataFrame(X_scaled, columns=full_df.columns)

normed_df["length_of_stay_hospital"] = length_of_stay_hospital
normed_df["length_of_stay_icu"] = length_of_stay_icu
normed_df["days_to_death"] = days_to_death
normed_df["died_in_hospital"] = died_in_hospital

normed_df.describe()

,age,gender,weight,height,heartrate_mean,heartrate_min,heartrate_max,meanbp_mean,meanbp_min,meanbp_max,...,1431,1432,1433,1434,1435,1436,1437,length_of_stay_hospital,length_of_stay_icu,days_to_death
count,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,...,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,49249.000000,21255.000000
mean,0.650659,0.562082,0.266381,0.166412,0.412291,0.501851,0.293199,0.445591,0.467871,0.296353,...,0.467118,0.468005,0.390359,0.382845,0.483282,0.414749,0.480476,9.998268,4.065270,516.879652
std,0.228144,0.496136,0.072408,0.023281,0.116128,0.106465,0.082473,0.082379,0.109012,0.093754,...,0.032639,0.038203,0.032610,0.043993,0.041204,0.036523,0.034278,10.812642,5.977661,750.221614
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.500000,0.000000,0.220736,0.166412,0.328358,0.431212,0.236000,0.386861,0.408000,0.242754,...,0.459885,0.460782,0.384053,0.373342,0.475068,0.406914,0.473426,4.040000,1.200000,18.000000
50%,0.671053,1.000000,0.266381,0.166412,0.402985,0.495201,0.284000,0.437956,0.467871,0.278986,...,0.466340,0.468213,0.390486,0.382529,0.483240,0.414160,0.480041,6.920000,2.120000,149.000000
75%,0.828947,1.000000,0.294314,0.166412,0.485075,0.566299,0.344000,0.496350,0.528000,0.326087,...,0.472839,0.475337,0.396407,0.390972,0.491892,0.421383,0.486670,11.940000,4.110000,723.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,294.660000,153.930000,4166.000000

In [72]:
pk.dump(min_max_scaler, open(f"{df_path}/scaler_{df_name}.pkl", 'wb'))

## Save DataFrame:

In [73]:
normed_df.to_pickle(f"{df_path}/dataframe_{df_name}.pkl")